/* Estilos genericos */
html, body {
    font-family: 'Kaushan Script','Times New Roman', cursive;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*
    display: block;
    position: relative;
    */
}
/*body::after{
content: "";
background: url(img/bg-principal.jpg);
opacity: 0.5;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;
}*/

.bg-secondary hr { border-top-color: #444; border-bottom-color: #222; }
.border-r-none { border-radius: 0 !important; }


/* Productos */


/* Fondos */
.bg-none{background: none;}
.bg-primary { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d34d66+0,b83368+30,793068+63,2e275d+100 */
    background: #E0DED8; /* Old browsers */
    /*background: -moz-linear-gradient(45deg,  #d34d66 0%, #b83368 30%, #793068 63%, #2e275d 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(45deg,  #d34d66 0%,#b83368 30%,#793068 63%,#2e275d 100%); *//* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(45deg,  #d34d66 0%,#b83368 30%,#793068 63%,#2e275d 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d34d66', endColorstr='#2e275d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*.background-image { background-image: url("../img/background-image.png");	}*/
/*.background-image { background-image: url("../img/background-image2.png");}*/
.background-image { background-image: url("../../img/agua2.jpg"); background-repeat: no-repeat; background-attachment: fixed;background-size: 100% auto;}
.bg-secondary { background-color: #333; color: #CCC; }
.bg-dark { background-color: ; }
.bg-light { background-color: rgb(0,0,255); opacity: 0.5;}
.bg-semi-light { background-color: ; }

.alpha-dark { background-color: rgba(0, 0, 0, 0.7); }
.alpha-light {}

/* Colores */
.cl-primary { color: !important; }
.cl-secondary { color: #DDD !important; }
.cl-light { color: #bdbdbd !important; }
.cl-dark { color: #1f1b19 !important; }

.panel{
    border-radius: 5%;
    background: #1f1b19;
}
.table-hover > tbody > tr:hover{
    color: #1f1b19;
}
/* Textos */
/* Fuentes */
/* Tamaños */
.fn-lg    { font-size: 22px !important; }
.fn-md    { font-size: 16px !important; }
.fn-sm    { font-size: 13px !important; }
.fn-xs    { font-size: 12px !important; }
/* Transformaciones */
.fn-up    { text-transform: uppercase; }

/* Paddings */
.pad-none { padding: 0 !important; }
.pad-v-xs { padding-top: !important; padding-bottom: !important; }  .pad-h-xs { padding-left: !important; padding-right: !important; }
.pad-v-sm { padding-top: 10px !important; padding-bottom: 10px !important; }  .pad-h-sm { padding-left: 15px !important; padding-right: 15px !important; }
.pad-v-md { padding-top: 15px !important; padding-bottom: 15px !important; }  .pad-h-md { padding-left: 25px !important; padding-right: 25px !important; }
.pad-v-lg { padding-top: !important; padding-bottom: !important; }  .pad-h-lg { padding-left: !important; padding-right: !important; }
.pad-b-none { padding-bottom: 0 !important; } .pad-t-none { padding-top: 0 !important; } .pad-r-none { padding-right: 0 !important; } .pad-l-none { padding-left: 0 !important; }

/* Margins */
.mar-none { margin: 0 !important; }
.mar-v-xs { margin-top: !important; margin-bottom: !important; }    .mar-h-xs { margin-left: !important; margin-right: !important; }
.mar-v-sm { margin-top: 15px !important; margin-bottom: 15px !important; }    .mar-h-sm { margin-left: 15px !important; margin-right: 15px !important; }
.mar-v-md { margin-top: 50px !important; margin-bottom: !important; }    .mar-h-md { margin-left: 25px !important; margin-right: 25px !important; }
.mar-v-lg { margin-top: 150px!important; margin-bottom: !important; }    .mar-h-lg { margin-left: 100px !important; margin-right: 100px !important; }
.mar-b-none { margin-bottom: 0 !important; } .mar-t-none { margin-top: 0 !important; } .mar-r-none { margin-right: 0 !important; } .mar-l-none { margin-left: 0 !important; }

/* Displays */
.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }
.inherit { display: inherit; }

/* Posistions */
.fixed { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }

/*footer*/
footer{}

.pre-footer{
    height: 150px;
}

/*bootstrap*/
.nav-tabs{
    border: none !important;
}.nav-tabs > li{
    margin-bottom: 0 !important;
}
.navbar-default{
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    min-height: 40px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #bdbdbd;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #bdbdbd;
}
.border-none{ border: none;}

.fa{
    font-size: 20px;
}

footer .fa{
    padding: 15px;
    color: #fff;
}
footer{
    color: #fff;
    background: #1f1b19;
}
.btn-more-contact{ background-color: #D5CCC7; width: 100%; border: 0px none;}
input[type="file"]{
    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
.img-avtr{
    border-radius: 50%;
}
.img-view{
    width: 250px;
    margin-bottom: 10px;
}
.span{
    background: url(img/icon-ciudad-gestion.png) no-repeat scroll 20px 5px;
}
.icon{
    display: block;
    padding: 10px 0 25px 70px;
}
.content{
    flex: auto;
}
.hidden{
    display: none;
}
/* tables */

#tableTitulares > tbody > tr{
    text-align: left;
}

#tableTitulares button{
    background: #1f1b19;
}
#tableTitulares tr:hover button{
    background: #f5f5f5;
}
#tableTitulares th{
    /*    text-align: center !important;*/
}
#tableTitulares > tbody > tr > td{
    /*    width: 10%;*/
    padding: 10px !important;
    vertical-align: middle;
}
#tableTitulares > tbody > tr > td > img{
    width: 85px !important;
}

#tableTitulares a{
    color: #fff;
}
#tableTitulares tr:hover a{
    color: #1f1b19;
}
